<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Descentralized Storage</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <div id="header">
            <h1>Descentralized Storage - IPFS</h1>
        </div>
        <div class="content">
            <div class="input">
                <div class="input-column">
                    <strong class="column-header">Add text:</strong>
                    <textarea id="text-input" type="textarea" placeholder="Text"></textarea>
                    <button id="add-text-btn">Add</button>
                </div>
        
                <div class="input-column">
                    <strong class="column-header">Add image:</strong>
                    <input id="image-input" type="file" placeholder="Image" input="file">
                    <button id="add-image-btn">Add</button>
                </div>
        
                <div class="input-column">
                    <strong class="column-header">Get data:</strong>
                    <input id="cid-input" type="text" placeholder="CID">
                    <button id="get-data-btn">Get data</button>
                    <button id="get-image-btn">Get image</button>
                </div>
            </div>
         
            <!-- Display Data -->
            <div class="display-data">
                <div class="column-header">Result:</div>
                <div id="data-anchor"></div>
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://bundle.run/buffer@5.2.1"></script>
    <script src="scripts/index.js"></script>
</html>
